@font-face {
    font-family: 'EctoBlaster';
    src: url('EctoBlaster.woff2') format('woff2'),
        url('EctoBlaster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url('StretchProRegular.woff2') format('woff2'),
        url('StretchProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

