@font-face {
    font-family: 'BodoniXT';
    src: url('BodoniXT.woff2') format('woff2'),
        url('BodoniXT.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

