@font-face {
    font-family: 'Wade Sans';
    src: url(./font/WadeSansLight/WadeSansLightPlain.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hatolie';
    src: url(./font/Hatolie.ttf);
}

img {
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    z-index: 2;
    opacity: 95%;
}

ul {
    text-align: left;
    color: rgb(187, 179, 179);
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    /* background-color: black; */
}

a:hover {
    color: red;
}

header {
    text-align: center;
    padding: 0;
}

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0rem 0rem;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin-left: 3rem;
    font-size: 0.96rem;
}

.navigation li {
    display: inline-block;
    position: relative;
}

.navigation li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation-background {
    position: absolute;
    top: 0;
    margin: 0%;
    padding: 0%;
    background-color: #c21a1a;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

li:hover {
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Wade Sans';
    font-size: 2.6rem;
    font-style: bold;
    letter-spacing: 0.7rem;
    line-height: 50px;
    color: white;
    padding-top: 13rem;
    text-align: center;
    /* color: white; */
}

.the {
    letter-spacing: 0.5rem;
    vertical-align: text-top;
}

.shawshank {
    /* color: white; */
    vertical-align: text-top;
}

#redemption {
    letter-spacing: 1.4rem;
    padding-top: 0rem;
    line-height: 0rem;
    text-align: center;
}

.info {
    width: 20rem;
    text-align: center;
    margin: 0;
}

#director {
    text-transform: uppercase;
    color: c21a1a;
    color: #b7b7b7;
    font-size: 23px;
    line-height: 20px;
    position: absolute;
    left: 39%;
    top: 47.8rem;
    font-size: 0.95rem;
    max-width: 50%;
}

#caption {
    width: 50rem;
    max-width: 50%;
    line-height: 18px;
    color: #b7b7b7;
    position: absolute;
    left: 24%;
    top: 49.5rem;
    font-size: 0.95rem;
}

h3 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: serif;
    font-family: 'Wade Sans';
    letter-spacing: 0.3rem;
}

.dailogue {
    padding: 0 4.6rem;
}

.character {
    padding-left: 11rem;
    padding-top: 1.1rem;
    font-size: 1.1rem;
    line-height: 0px;
}

body {
    margin: 0;
    font-family: monospace;
    font-weight: 400;
    font-size: 0.96rem;
    background-color: black;
    color: white;
}

main {
    padding: 40rem 24rem;
}

.back-home-tab {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    right: 11em;
    top: 73em;
    color: white;
    font-size: 0.96rem;
}

.back-home-tab:hover {
    text-decoration: underline;
    color: red;
}

.enlarge {
    color: #c21a1a;
}

.enlarge:hover {
    color: #c21a1a;
    font-size: 9em;
    position: absolute;
    left: 2em;
    text-decoration: 50px dotted underline #c21a1a;
    width: 1200px;
    margin: 0;
    padding: 0;
}

#moment-three:hover {
    left: 3em;
}

#fella {
    color: brown;
}

#fella:hover {
    color: #c21a1a;
    font-size: 6rem;
    line-height: 6rem;
}

.red {
    animation-name: turn-red;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes turn-red {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}