@font-face {
    font-family: 'BD Geminis';
    src: url('./font/BDGeminis.woff2') format('woff2'), url('./font/BDGeminis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./font/Orbitron-Regular.woff2') format('woff2'), url('./font/Orbitron-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.index {
    color: black;
    padding: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.2em;
}

body {
    background-color: rgb(202, 202, 202);
}

img {
    opacity: 95%;
    padding: 50rem 16rem;
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: black;
    color: red;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    height: 3.5rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 28rem;
    padding-right: 1.3rem;
    border: 3px solid #FF0000;
    background-color: black;
}

h2 {
    color: #FF0000;
    font-family: 'BD Geminis';
    font-size: 2.2em;
}

.close {
    position: absolute;
    left: 3rem;
    top: 2.2rem;
    background-color: red;
    border: 2px solid black;
    color: black;
    width: 1em;
    height: 1em;
    z-index: 2;
    text-align: center;
    padding: 0rem 0rem;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #FF0000;
    font-family: 'BD Geminis';
    font-size: 3em;
    text-align: center;
}

.warning {
    color: #FF0000;
    font-family: 'BD Geminis';
    font-size: 21em;
    margin: 0;
    text-align: center;
    padding-top: 6.6rem;
    padding-bottom: 0;
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    animation-duration: .2s;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.fact-info {
    font-family: 'Orbitron';
    color: #FF0000;
    font-size: 2em;
    text-align: justify;
    width: 28em;
    margin: 0;
    padding-top: 1rem;
    padding-left: 16rem;
    line-height: 2.6rem;
}

main {
    background-color: #600000;
    height: 200vh;
}

@media only screen and (max-width: 600px) {
    main {
        background-color: #600000;
        height: 250vh;
    }
    nav {
        display: flex;
        /* position: fixed;
        width: 85rem; */
        flex-direction: row;
        background-color: black;
        align-items: center;
        justify-content: center;
        height: 5rem;
        margin: 0;
        z-index: 1;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem;
        padding-right: 1.3rem;
        border: 2px solid #FF0000;
    }
    h1 {
        color: #FF0000;
        font-family: 'BD Geminis';
        font-size: 2.3em;
        text-align: right;
    }
    h2 {
        color: black;
        font-family: 'BD Geminis';
        font-size: 2.2em;
    }
    .close {
        position: absolute;
        left: 2rem;
        top: 2.5rem;
        background-color: black;
        border: 2px solid red;
        color: red;
        width: 1em;
        height: 1em;
        z-index: 2;
        text-align: center;
        padding: 0rem 0rem;
        margin: 0;
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .warning {
        color: #FF0000;
        font-family: 'BD Geminis';
        font-size: 18em;
        margin: 0;
        text-align: center;
        padding-top: 6.6rem;
        padding-bottom: 0;
        animation-name: blinker;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.5, 0, 1, 1);
        animation-duration: .2s;
    }
    .fact-info {
        font-family: 'Orbitron';
        color: #FF0000;
        font-size: 1.5em;
        text-align: justify;
        width: fit-content;
        margin: 0;
        padding: 2em;
        line-height: 2rem;
    }
}