@font-face {
    font-family: 'PiratesBlackbeard';
    src: url('PiratesBlackbeard.woff2') format('woff2'),
        url('PiratesBlackbeard.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AURORA';
    src: url('AURORA-Regular.woff2') format('woff2'),
        url('AURORA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

