@font-face {
    font-family: 'BD Geminis';
    src: url('BDGeminis.woff2') format('woff2'), url('BDGeminis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-SemiBold.woff2') format('woff2'), url('Orbitron-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Medium.woff2') format('woff2'), url('Orbitron-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Regular.woff2') format('woff2'), url('Orbitron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}