@font-face {
    font-family: 'Major Mono Display';
    src: url('MajorMonoDisplay-Regular.woff2') format('woff2'), url('MajorMonoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}