@font-face {
    font-family: 'Wade Sans';
    src: url('WadeSansLightPlain.woff2') format('woff2'),
        url('WadeSansLightPlain.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

