h1 {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em 4em;
    margin: 0;
}

.color1 {
    background-color: rgb(218, 124, 124);
    color: rgb(115, 115, 216);
}

.color2 {
    background-color: rgb(115, 115, 216);
    color: rgb(218, 124, 124);
}

